streamlit
langchain
langchain-openai
langchain-groq
langchain-community
python-dotenv
pandas
numpy
Pillow
PyPDF2
python-docx
tika
pydicom
opencv-python
streamlit-camera-input-live
streamlit-image-coordinates
streamlit-option-menu
streamlit-extras
plotly
matplotlib
seaborn
requests
beautifulsoup4
xlrd
openpyxl
pytesseract
pdf2image
fpdf2
markdown-it-py
weasyprint
markdown2
pytesseract